#logo {
    display: inline-block;
    padding: 6px;
    border-radius: 26px;
}

#logo:hover {
    background-color: rgba(255, 255, 255, .1);
}

.nav > .nav-item ion-icon {
    font-size: 30px;
}

.nav > .nav-item ion-icon {
    font-size: 26px;
}

.nav > .nav-item {
    padding: 6px;
    border-radius: 26px;
}

.nav > .nav-item:hover {
    background-color: rgba(255, 255, 255, .1);
}

#profile-dropdown {
    max-width: 100%;
    padding: 6px;
    border-radius: 26px;
}

#profile-dropdown:hover {
    background-color: rgba(255, 255, 255, .1);
}

#profile-dropdown > a > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
